.bg-primary {
  background-color: #36393f!important
}

.bg-dark {
  background-color: #292b2f!important
}

.dodoria {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px
}

.dodoria ul {
  list-style: none;
  padding-left: 0
}

code, a {
  color: #f697c8!important
}

.dodoria a:hover code {
  color: #ffc2e1!important
}

.scale-on-hover {
  transition: transform .2s ease-in-out
}

.scale-on-hover:hover {
  box-shadow: 0 10px 10px #00000026!important;
  transform: scale(1.05)
}

.table-dark {
  --bs-table-bg: #292b2f;
}